/*
 * Color Scheme
 * ============
 */
.cm-string {
    color: rgb(209, 154, 102);
}

.cm-error {
    background: #F92672;
    color: #F8F8F2 !important;
}

.cm-meta,
.cm-comment {
    color: rgb(92, 99, 112);
}

.cm-atom{
    color: rgb(221, 103, 44);
}

.cm-number,
.cm-link {
    color: rgb(209, 154, 102);
}

.cm-property{
    color: rgb(209, 154, 102);
}

.cm-attribute,
.cm-keyword {
    color: hsl(18, 89%, 60%);
}

.cm-variable{
    color: hsl(220, 14%, 100%);
}

.cm-string.cm-property,
.cm-variable-2 {
    color: rgb(224, 108, 117);
}

.cm-variable-3,
.cm-qualifier,
.cm-builtin {
    color: hsl( 29, 54%, 61%);
}

.cm-operator{
    color: hsl(187, 47%, 55%);
}
.cm-tag {
    color: hsl(355, 65%, 65%);
}

.cm-bracket,
.cm-def {
    color: hsl(220, 0%, 80%);
}

/**
 * User Interface
 * ==============
 *
 * @TODO Matching words
 * @TODO Scrollbars
 * @TODO Find highlights
 */
.CodeMirror,
.CodeMirror .CodeMirror-scroll {
    background: rgb(40, 44, 52);
    color: #F8F8F2;
}

#not-editor,
#image-holder {
    background-color: #222;
    color: #F8F8F2;
    transition: background-color 0.3s ease-out;
}

.CodeMirror {
    border-left-color: #1B1B1B;
}

div.CodeMirror-selected {
    background: #444 !important;
}

.CodeMirror-gutters {
    background: rgb(40, 44, 52);
    border-right: 0px;
}

.CodeMirror-guttermarker {
    color: #F8F8F2;
}

.CodeMirror-guttermarker-subtle {
    color: #272822;
}

.CodeMirror-linenumber {
    color: #8D8D8A;
}

.CodeMirror-cursor {
    border-left: 1px solid #f8f8f0 !important;
}

.CodeMirror-activeline-background,
.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
    background: #373831 !important;
}

.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
    color: #F8F8F2;
}

.CodeMirror-focused .CodeMirror-activeline .inline-widget .CodeMirror-gutter-elt {
    color: #767676;
}

.CodeMirror-matchingbracket {
    background-color: transparent !important;
    border-bottom: 1px solid; /* text-decoration: underline does not look that well with large font sizes */
    color: #FFF !important;
    padding-bottom: 0.166em;
}

.CodeMirror-matchingtag {
    background-color: transparent;
    border-bottom: 1px solid #F8F8F2; /* text-decoration: underline does not look that well with large font sizes */
    padding-bottom: 0.166em;
}

/**
 * Extensions
 * ==========
 */

/*
 * Brackets-Vim (https://github.com/megalord/brackets-vim)
 * -------------------------------------------------------
 */
.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor {
    background: rgba(248, 248, 242, 0.5) !important;
}

/**
 * Show Whitespace (https://github.com/DennisKehrig/brackets-show-whitespace)
 * --------------------------------------------------------------------------
 */
.CodeMirror .cm-dk-whitespace-space::before,
.CodeMirror .cm-dk-whitespace-tab::before,
.CodeMirror .cm-dk-whitespace-leading-space::before,
.CodeMirror .cm-dk-whitespace-leading-tab::before,
.CodeMirror .cm-dk-whitespace-trailing-space::before,
.CodeMirror .cm-dk-whitespace-trailing-tab::before {
    background-color: #75715E !important;
}

/**
 * Code Folding (https://github.com/thehogfather/brackets-code-folding)
 * --------------------------------------------------------------------
 */
.CodeMirror-foldgutter,
.CodeMirror-foldgutter,
.CodeMirror-foldgutter-blank,
.CodeMirror-foldgutter-folded,
.CodeMirror-foldgutter-open {
    color: #75715E;
}

.CodeMirror-foldgutter-open::after {
    content: "\25bd";
}

.CodeMirror-foldmarker {
    background-color: #333;
    border-color: #555;
    color: #555;
    padding: 0 10px;
}
